@import '~normalize.css/normalize.css';
@import '~element-ui/lib/theme-chalk/index.css';
@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';
@import 'btn';
@import 'laravue';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

// main-container padding
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
.el-breadcrumb__inner.is-link, .el-breadcrumb__inner a {
  color:#000 !important;
}
.navbar {
  svg {
    fill:#fff !important;
  }
}
.el-button--primary {
    color: #FFFFFF;
    background-color: #272f4c !important;
    border-color: #272f4c !important;
    &:hover, &:focus {
        background: #3e4a77 !important;
        border-color: #2c365a !important;
        color: #FFFFFF;
    }
}
.dropzone .dz-details {
  background: rgba(255,255,255,0.9) !important;
  border-bottom: 1px solid #ccc !important;
  padding: 10px !important;
  display: flex !important;
  justify-content: space-between !important;
}
.dropzone a.dz-remove {
  background: #ff5959 !important;
  color: #fff !important;
  border-radius: 6px !important;
  padding: 5px 10px !important;
  font-size: 10px !important;
  text-transform: uppercase !important;
}
.dz-error-mark {
  display:none !important;
}
.dropzone .dz-message .dz-button {
  margin-top: -20px;
}
.btn-delete {
  position: absolute;
  z-index: 9999999;
  top: 5px;
  right: 5px;
  font-size: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
.el-drawer__body {
  padding: 20px;
  .el-form-item__label {
    text-align: left;
  }
  .playlist_name {
    input {
      border-width: 1px;
      border-style: solid;
      border-color: #cbd4db;
      border-radius: 4px;
      padding: 0 7px;
      width: calc(100% + 8px);
      margin-left: -8px;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 24px;
      font-weight: 800;
      line-height: 32px;
      min-height: 0;
      padding-bottom: 4px;
      padding-top: 4px;
      border-color: transparent;
      color:#9CA6AF;
      &:hover {
        border-color: #cbd4db;
        transition: border-color 100ms;
      }
    }
  }
  textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #cbd4db;
    border-radius: 4px;
    border-color: transparent;
    color:#9CA6AF;
    &:hover {
      border-color: #cbd4db !important;
      transition: border-color 100ms;
    }
  }
}
.drawer__content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
}
.drawer__content form {
  flex: 1;
}
.drawer__footer {
  display: flex;
  background: #f6f8f9;
  border-bottom: 1px solid transparent;
  flex-shrink: 0;
  margin: 0 -24px;
  padding: 10px 24px;
  button {
    flex: 1;
  }
}
.el-special-drawer__header {
  margin: -20px -20px 10px -20px !important;
  border-bottom: 1px solid #e8e8e8 !important;
  padding: 10px 20px !important;
  .el-tag {
    cursor: pointer;
  }
}

.cover-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cover-uploader .el-upload:hover {
  border-color: #409EFF;
}
.cover-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px !important;
  text-align: center;
}
.cover {
  width: 178px;
  height: 178px;
  display: block;
}
.el-table__row {
  cursor: pointer !important;
}